#General build artifacts
*.mk
*.o
*.a
*.elf
*.hex
*.axf
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep
*.ld
*.launch

#MDK-ARM
*.__i
*.htm
*.uvgui.*
*.uvopt
*.axf

#Eclipse
.metadata
.settings
Debug
makefile
!gb_lib/makefile
!mylab2-gb/images/makefile

#roms
gb_lib/roms
gb_lib/raw_roms
